/* ColorForm-div
ColorForm-form
ColorForm-btn */


.ColorForm-div {
    width: 50em;
    height: 15em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 5px 5px 0px black;
    display: flex;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
}

.ColorForm-input-div {
    margin-top: 3em;
    margin-left: 1em;
}

.ColorForm-btn {
    margin-top: 3em;
    margin-left: 1em;
}